@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @if (TempData["success"] != null)
{
    <div class="alert alert-success msg text-center">
        <h2>Success</h2><h3>@TempData["success"]</h3>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger msg text-center">
        <strong>Success</strong><span>@TempData["error"]</span>
    </div>
}

@if (TempData["warning"] != null)
{
    <div class="alert alert-warning msg text-center">
        <h2><strong>Success</strong></h2><h3>@TempData["warning"]</h3>
    </div>
}

@if (TempData["info"] != null)
{
    <div class="alert alert-info msg text-center">
        <strong>Info!</strong><span>@TempData["info"]</span>
    </div>
} *@