@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Inventory.Models.Product
@{
    ViewData["Title"] = "AddProduct";
}
<div class="cantainer">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Add Product</h2>
            <form>
                <div class="form-group p-1">
                    <label asp-for="ProductName">Product Name</label>
                    <input type="text" class="form-control" asp-for="ProductName" placeholder="Name">
                </div>
                <div class="form-group p-1">
                    <label asp-for="CategoryId">CategoryId</label>
                    <input type="number" class="form-control" asp-for="CategoryId" placeholder="Id">
                </div>
                <button type="submit" class="btn btn-primary" value="SUBMIT" asp-controller="Product" formmethod="post" asp-action="AddProduct">Submit</button>
            </form>
        </div>
    </div>
</div>
